  listen 80 {{ item.listen_parameters|default('') }};
  server_name {{ item.server_name }};

  {% if item.type == 'static-site'  %}
  access_log  {{ item.access_log }};
  {% else %}
  access_log  {{ item.access_log }} apm;
  {% endif %}

  error_log   {{ item.error_log }};
