server {

  {% include 'vhosts/common.server.j2' %}

  root {{ item.root }};
  index {{ item.index }};

  location / {
    try_files    $uri /{{ item.index }}$args;
  }

  location ~ \.php(/|$) {
    fastcgi_pass            {{ item.php_fpm_pass }};
    fastcgi_buffer_size     4k;
    fastcgi_buffers         8 4k;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include                 fastcgi_params;
    fastcgi_param           SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param           HTTPS           off;
    {% if item.cors is defined and item.cors %}
      {% include 'vhosts/cors.location.j2' %}
    {% endif %}
  }
  {% if item.extra_config is defined %}
    {% for file in item.extra_config %}
      {% include file %}
    {% endfor %}
  {% endif %}
}

{% if item.php_fpm_status is defined and item.php_fpm_status %}
server {
  listen 80;
  server_name localhost;
  location ~ ^/(php_fpm_status|php_fpm_ping)$ {
    access_log off;
    allow 127.0.0.1;
    deny all;
    include fastcgi_params;
    fastcgi_index {{ item.index }};
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass {{ item.php_fpm_pass }};
  }
}
{% endif %}
