server {
{% include 'vhosts/common.server.j2' %}

{% if item.reverse_proxy_nocache_enabled is defined and item.reverse_proxy_nocache_enabled %}
  add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
  add_header Pragma 'no-cache';
  add_header Expires 0;
{% endif %}

  location / {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header Host $host;
    proxy_pass {{ item.reverse_proxy_pass }};

    {% if item.cors_enabled is defined and item.cors_enabled %}
      {% include 'vhosts/cors.location.j2' %}
    {% endif %}
  }

  {% if item.extra_config is defined %}
    {% for file in item.extra_config %}
      {% include file %}
    {% endfor %}
  {% endif %}
}
